# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# ===========================
# Testing
# ===========================
.pytest_cache/
.coverage
htmlcov/

# ===========================
# Type Checking / Lint
# ===========================
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Variables
# ===========================
.env
.env.*

# ===========================
# Runtime Data
# ===========================
data/
*.wal
*.sst
*.manifest